{% extends "base.html" %} {% block content %} {% load static %} {% include "navbar_2.html" %}

{% if page_obj %}
    <div class="review-card" class="container align-items-center text-center">
        <div class="row gap-5 mt-5 mb-5 d-flex justify-content-center">
            <h2 class="text-center">Dont trust us? Look what others have to say!</h2>
            {% for review in page_obj %}
                <div class="card col-6">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ review.star_rating }}</h6>
                        <p class="card-text">{{ review.comment }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <p>No reviews currently</p>
{% endif %}

<nav>
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
            </li>
        {% endif %}

        <li>
            <p>
                Page {{ page_obj_number }} of {{ page_obj.paginator.num_pages }}
            </p>
        </li>

        {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>

{% include "footer.html" %} {% endblock %}