/* General styles */

body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 150vh;
    display: flex;
    flex-direction: column;
}

.text-white {
    color: #EAEAEA;
}

/* Footer */

footer {
    bottom: 0;
    background-color: #121212;
}

footer a, li {
    text-decoration: none;
    list-style-type: none;
}

.details a {
    color: white;
}

#footer-container div {
    margin-top: 30px;
}

/* Hero */

#hero-image {
    object-position: center center;
    object-fit: cover;
    max-height: 80vh;
    overflow: hidden;
}