/* General styles */

body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 150vh;
    display: flex;
    flex-direction: column;
}

.text-white {
    color: #EAEAEA;
}

/* Footer */

footer {
    bottom: 0;
    background-color: #121212;
}

.remove-decoration {
    text-decoration: none;
    list-style-type: none;
}

footer .nav-footer, footer ul {
    list-style: none;
    color: white;
}

.home-link a {
    color: #39FF14;
    font-size: 1.6rem;
    text-decoration: none;
}

.nav-link, .socials a, .details a {
    text-decoration: none;
    color: white;
}

.hover-link a:hover {
    color: #00FFFF;
}


.details a {
    color: white; 
}

#footer-container div {
    margin-top: 30px;
}

/* Hero */

#hero-image {
    object-position: center center;
    object-fit: cover;
    max-height: 80vh;
    overflow: hidden;
}