body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 150vh;
    display: flex;
    flex-direction: column;
}

footer {
    bottom: 0;
}

#hero-image {
    object-position: center center;
    object-fit: cover;
    max-height: 80vh;
    overflow: hidden;
}