{% extends "base.html" %} {% block content %} {% load static %} {% include "navbar_2.html" %} {% include "messages.html" %}


<div class="container-fluid mt-auto pt-5 text-center d-flex align-items-center justify-content-center">
    <div class="row">
        <h2 class="mb-5">Only staff members can access this page</h2>
        <img src="{% static 'images/error-image.jpg' %}" alt="Picture of an out of an out of order arcade machine" class="img-fluid w-25 mx-auto">
        <p class="mt-5 mb-5"><a class="button-colour" href="{% url 'home' %}">Back to homepage</a></p>
    </div>
</div>


{% include "footer.html" %} {% endblock %}