<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pixel lounge is a chilled family-run gaming cafe offering experiences for both hardcore and chilled gamers">
    <meta name="keywords" content="Pixel Lounge, gaming cafe, refreshments, PC gaming">
    <title>Pixel Lounge</title>
</head>
<body>
    {% block content %}

    <!-- content -->

    {% endblock content %}
</body>
</html>