{% extends "base.html" %} {% block content %} {% load static %} {% include "navbar_2.html" %}

<nav class="navbar navbar-expand-lg navbar-light w-100" id="staff-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#staff-nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="staff-nav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'staff_booking_list' %}">Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'staff_review_list' %}">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'staff_comment_list' %}">Comments</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Metrics -->

<div id="metrics" class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-xl-4 g-3 justify-content-center">
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total bookings</h5>
                    <p class="card-text">{{ total_bookings }}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Future bookings</h5>
                    <p class="card-text">{{ future_bookings }}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pending bookings</h5>
                    <p class="card-text">{{ pending_bookings }}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Past bookings</h5>
                    <p class="card-text">{{ past_bookings }}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total reviews</h5>
                    <p class="card-text">{{ total_reviews }}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pending reviews</h5>
                    <p class="card-text">{{ pending_reviews }}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total users</h5>
                    <p class="card-text">{{ total_users }}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total comments</h5>
                    <p class="card-text">{{ total_comments }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock content %}