{% extends "base.html" %} {% block content %} {% load static %} {% include "navbar_2.html" %} {% include "staff_navbar.html"%} {% include "messages.html" %}

<div class="container d-flex flex-column justify-content-center align-items-center text-center">
    <div class="row col-12 col-md-7">
        <h2 class="mt-5">Review</h2>
        <div class="container align-items-center text-center review-card">
            <div class="row gap-5 mt-5 mb-5 d-flex justify-content-center">
                <div class="card col-6">
                    <div class="card-body">
                        <h5 class="card-title">{{ review.user.first_name }} {{ review.user.last_name }}</h5>
                        <div class="card-subtitle mb-2 text-muted yellow-star">
                        {% if review.star_rating == 1 %}
                        <span><i class="fa-solid fa-star"></i></span>
                        {% elif review.star_rating == 2 %}
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        {% elif review.star_rating == 3 %}
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        {% elif review.star_rating == 4 %}
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        {% else %}
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        {% endif %}
                        </div>
                        <p class="card-text">{{ review.comment }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <a href="{% url 'approve_review' review.id %}" class="button-colour">
            Approve
        </a>
    </div>
    <div>
        <a href="{% url 'deny_review' review.id %}" class="button-colour cancel-btn">
            Deny
        </a>
    </div>
</div>

{% include "footer.html" %} {% endblock %}