{% extends "base.html" %} {% block content %} {% load static %} {% include "navbar_2.html" %} {% include "staff_navbar.html"%}

<!-- Total comment -->
<div class="container">
    <div class="row">
        <h2 class="text-center mt-5 mb-3">Comments</h2>
        {% if comments %}
        <div class="table-responsive mb-5 scroll-feature">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Review id</th>
                        <th>Comment</th>
                        <th>Approve</th>
                        <th>Deny</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in comments %}
                        <tr>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                            <td>{{ comment.review.id }}</td>
                            <td>
                                <button class="button-colour" data-bs-toggle="modal" data-bs-target="#commentModal-{{ comment.id }}">Read</button>
                            </td>
                            <td>
                                <a href="{% url 'approve_comment' comment.id %}" class="button-colour">
                                    Approve
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'deny_comment' comment.id %}" class="button-colour">
                                    Deny
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% for comment in comments %}
            <div class="modal fade" id="commentModal-{{ comment.id}}" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Comments</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                         </div>
                        <div class="modal-body">
                            <p>{{ comment.comment }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

<!-- Approved comment -->
<div class="container">
    <div class="row">
        <h2 class="text-center mt-5 mb-3">Approved comments</h2>
        {% if approved_comments %}
        <div class="table-responsive mb-5 scroll-feature">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Review id</th>
                        <th>Comment</th>
                        <th>Approve</th>
                        <th>Deny</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in approved_comments %}
                        <tr>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                            <td>{{ comment.review.id }}</td>
                            <td>
                                <button class="button-colour" data-bs-toggle="modal" data-bs-target="#commentModal-{{ comment.id }}">Read</button>
                            </td>
                            <td>
                                <a href="{% url 'approve_comment' comment.id %}" class="button-colour">
                                    Approve
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'deny_comment' comment.id %}" class="button-colour">
                                    Deny
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% for comment in approved_comments %}
            <div class="modal fade" id="commentModal-{{ comment.id}}" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Comments</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                         </div>
                        <div class="modal-body">
                            <p>{{ comment.comment }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

<!-- Pending comment -->
<div class="container">
    <div class="row">
        <h2 class="text-center mt-5 mb-3">Pending comments</h2>
        {% if pending_comments %}
        <div class="table-responsive mb-5 scroll-feature">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Review id</th>
                        <th>Comment</th>
                        <th>Approve</th>
                        <th>Deny</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in pending_comments %}
                        <tr>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                            <td>{{ comment.review.id }}</td>
                            <td>
                                <button class="button-colour" data-bs-toggle="modal" data-bs-target="#commentModal-{{ comment.id }}">Read</button>
                            </td>
                            <td>
                                <a href="{% url 'approve_comment' comment.id %}" class="button-colour">
                                    Approve
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'deny_comment' comment.id %}" class="button-colour">
                                    Deny
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% for comment in pending_comments %}
            <div class="modal fade" id="commentModal-{{ comment.id}}" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Comments</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                         </div>
                        <div class="modal-body">
                            <p>{{ comment.comment }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

<!-- Denied comment -->
<div class="container">
    <div class="row">
        <h2 class="text-center mt-5 mb-3">Denied comments</h2>
        {% if denied_comments %}
        <div class="table-responsive mb-5 scroll-feature">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Review id</th>
                        <th>Comment</th>
                        <th>Approve</th>
                        <th>Deny</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in denied_comments %}
                        <tr>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                            <td>{{ comment.review.id }}</td>
                            <td>
                                <button class="button-colour" data-bs-toggle="modal" data-bs-target="#commentModal-{{ comment.id }}">Read</button>
                            </td>
                            <td>
                                <a href="{% url 'approve_comment' comment.id %}" class="button-colour">
                                    Approve
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'deny_comment' comment.id %}" class="button-colour">
                                    Deny
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% for comment in denied_comments %}
            <div class="modal fade" id="commentModal-{{ comment.id}}" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Comments</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                         </div>
                        <div class="modal-body">
                            <p>{{ comment.comment }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>


{% include "footer.html" %} {% endblock %}