{% extends "base.html" %} {% block content %} {% load static %} {% include "navbar_2.html" %} {% include "staff_navbar.html"%} {% include "messages.html" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.5.0/chart.umd.min.js"></script>

<div>
    <p class="mt-3 text-center custom-font">Welcome {{ user.first_name|default:"User" }}</p>
</div>

<!-- Metrics -->

<div class="container metrics">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-xl-4 g-3 justify-content-center">
        <h2 class="col-12 text-center">Key Metrics</h2>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total bookings</h5>
                    <p class="card-text">{{ total_bookings }}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Future bookings</h5>
                    <p class="card-text">{{ future_bookings }}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pending bookings</h5>
                    <p class="card-text">{{ pending_bookings }}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Past bookings</h5>
                    <p class="card-text">{{ past_bookings }}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total reviews</h5>
                    <p class="card-text">{{ total_reviews }}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pending reviews</h5>
                    <p class="card-text">{{ pending_reviews }}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total users</h5>
                    <p class="card-text">{{ total_users }}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total comments</h5>
                    <p class="card-text">{{ total_comments }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <h2>Data charts</h2>
    <div>
        <canvas id="mylinechart"></canvas>
    </div>
</div>

<script>
    const monthlyBookings = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

    const ctx = document.getElementById("mylinechart").getContext("2d")

    const mylinechart = new Chart(ctx, {
        type: "line",
        data: {
            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec",],
            datasets: [
                {
                    label: "Bookings per month",
                    data: monthlyBookings,
                    borderColor: "rgb(102, 255, 0)",
                    borderWidth: 2,
                    fill: false,
                    tension: 0.25
                }
            ]
        },
        options: {
        responsive: true,
        scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% include "footer.html" %}
{% endblock content %}