{% extends "base.html" %} {% block content %} {% load static %} {% include "navbar_2.html" %}
<div class="container d-flex flex-column justify-content-center align-items-center text-center">
    <div class="row col-12 col-md-7">
        <h2 class="mt-5">Booking : {{ booking.booking_id }}</h2>
        <p class="mb-5 mt-3">Here are your booking details, if any of these are incorrect you can edit it through <a href="{% url 'booking_list' %}">your bookings</a></p>
        <p>First name - {{ booking.first_name }}</p>
        <p>Last name - {{ booking.last_name }}</p>
        <p>Booking ID - {{ booking.booking_id }}</p>
        <p>Booking date - {{ booking.booking_date }}</p>
        <p>Booking time - {{ booking.booking_time }}</p>
        <p>Number of people - {{ booking.number_of_people }}</p>
        <p>Comments - {{ booking.comments }}</p>
    </div>
</div>
{% include "footer.html" %} {% endblock %}