{% extends "base.html" %} {% block content %} {% load static %} {% include "navbar_2.html" %}

<!-- Current bookings -->
<div class="container">
    <div class="row">
        <h2 class="text-center mt-5 mb-3">Current Bookings</h2>
        <p class="text-center">You may edit or cancel your bookings at any time or contact us via email or phone if you have any questions</p>
        {% if bookings %}
        <div class="table-responsive mb-5">
            <table id="booking-list" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Booking Date</th>
                        <th>Booking Time</th>
                        <th>guests</th>
                        <th>Comments</th>
                        <th>Booking ID</th>
                        <th>View</th>
                        <th>Cancel</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                        <tr>
                            <td>{{ booking.first_name }} {{ booking.last_name }}</td>
                            <td>{{ booking.email }}</td>
                            <td>{{ booking.booking_date }}</td>
                            <td>{{ booking.booking_time }}</td>
                            <td>{{ booking.number_of_people }}</td>
                            <td>
                                <button class="button-colour" data-bs-toggle="modal" data-bs-target="#commentModal-{{ booking.booking_id }}">Read</button>
                            </td>
                            <td>{{ booking.booking_id }}</td>
                            <td>
                                <a href="{% url 'booking_details' booking.booking_id %}" class="button-colour">
                                    View
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'booking_cancel' booking.booking_id %}" class="cancel-btn button-colour">
                                    Cancel
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'booking_edit' booking.booking_id %}" class="button-colour">
                                    Edit
                                </a>
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
            {% for booking in bookings %}
            <div class="modal fade" id="commentModal-{{ booking.booking_id }}" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Booking Comments</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                         </div>
                        <div class="modal-body">
                            <p>{{ booking.comments }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% include "footer.html" %} {% endblock %}